// colors
$block-bc: #f4f8fc;
$border-color: #91a6b9;
$btn-bc-one: #789ab8;
$btn-bc-two: #5398bd;
$btn-bc-three: #002878;
$btn-text-color: #ffffff;
$form-text-color: #1b3753;
$invalid-text-color: #e90404;
$popup-bc: #90969c;
$required-text: #002878;
$shadow-color: #c7c9ca;
$text-color: #11122b;

// fonts
$font-family: Avenir, Helvetica, Arial, sans-serif;
$font-size-b: 24px;
$font-size-m: 20px;
$font-size-n: 17px;
$font-size-s: 16px;
